<div class="page-header">
  <h1>Acceder a Mileem</h1>
</div>

<div class="row">
	<div class="col-md-3 col-md-offset-4">
		
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

		   <label for="email" class="control-label">Email</label>
		  <%= f.email_field :email, autofocus: true, :class => 'form-control', :required => true %>
		  <br>
		   <label for="password" class="control-label">Password</label>
		    <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :required => true %>
	</div>
</div>

<div class="row">
	<div class="col-md-3 col-md-offset-5">
		  <% if devise_mapping.rememberable? -%>
		  <label class="checkbox"><input type="checkbox" value="remember-me"> Recordarme </label>
		  <% end -%>

		  <div><%= f.submit "Entrar", :class =>"btn btn-md btn-primary" %></div>
		<% end %>

		<%# render "devise/shared/links" %>
	</div>

</div>
