<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para cambiar la contraseña. Puede hacerlo en el siguiente link.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no lo ha solicitado, por favor ignore este email.</p>
<p>Su contraseña no se modificará hasta que acceda al link indicado y cree una nueva.</p>
