/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self 
 *= require bootstrap-ubuntu
 *= require bootstrap-datepicker
 *= require_tree .
 */
 
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

a.navbar-brand  {
  padding: 5px 0;
  vertical-align: middle;
  display: inline-block;
}

label {
  font-weight: normal;
}

.datepicker{
	z-index:1200;
}

body {
  line-height: 3;
}

html,
body {
  padding-top:10px;
  height: 100%;
  margin-left:40px;
}


