/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self 
 *= require bootstrap-ubuntu
 *= require bootstrap-datepicker
 *= require jquery.fileupload-ui
 *= require_tree .
 */
 
/*<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">*/

a.navbar-brand  {
  padding: 5px 0;
  vertical-align: middle;
  display: inline-block;
}

.datepicker{
	z-index:1200;
}

.required {
	color: red;
}

.alert {
  margin-top: 40px;
}

.button_to,
.button_to div {
  display: inline;
}

.headingListar {
  color: #ffffff;
  background-color: #dd4814;
  border-color: #bf3e11;
  height: 40px;
}

html,
body {
  padding-top:10px;
  height: 100%;
  margin-left:40px;
  margin-right:30px;
}

.uploadedImagePreview{
	width: 80px;
}

.files .start{
	text-align: center;	
}

#buttonsContainer{
	text-align: right;
	margin-right: 105px;
}

.map_container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.map_container .map_canvas{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.loginPanel {
  height: 500px;
  width: 700px;
}

