<section class="top-section">
	<div class="bgafter"></div>
	<div class="container">
		<div class="jumbotron">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h1> Anuncia tus propiedades! </h1>
					<p> Mileem es la aplicación ideal para publicar información acerca de tus propiedades. Permite mostrar un detalle de la propiedad, imagenes, videos, ubicación en un mapa, compartir en las redes sociales y le permite al usuario contactarse con el anunciante.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="second-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="page-header text-center">
					<h2> Planes disponibles</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p style="font-size: 18px">
					Cada plan cuenta con beneficios especiales que se adaptan a las necesidades de cada anunciante. Un anunciante puede publicar hasta 5 publicaciones
					<br/>
				</p>
			</div>
		</div>
	</div>
</section>
<section class="features-section" >
	<div class="container" >
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="text-center"> Plan Gratis </h3>
					</div>
					<div class="panel-body text-center">
						<p class="lead">
							<strong> - </strong>
						</p>
					</div>
					<ul class="list-group text-center">
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> Hasta 3 imágenes
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> Sin videos
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> 1 mes
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> Las publicaciones no son destacadas y se muestran últimas en los resultados de las búsquedas.
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="text-center"> Plan Básico </h3>
					</div>
					<div class="panel-body text-center">
						<p class="lead">
							<strong> $300 </strong>
						</p>
					</div>
					<ul class="list-group list-group-flush text-center">
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> Hasta 5 imágenes
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> 1 video
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> 3 meses
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> Las publicaciones se destacan de las publicaciones gratis y figuran antes que estas, en los resultados de las búsquedas.
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="text-center"> Plan Premium </h3>
					</div>
					<div class="panel-body text-center">
						<p class="lead">
							<strong> $1000 </strong>
						</p>
					</div>
					<ul class="list-group list-group-flush text-center">
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> Hasta 10 imágenes
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> 1 video
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> 12 meses
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> Las publicaciones se muestran primero en los resultados de las búsquedas y se las puede destacar respecto de las publicaciones básicas y gratis.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>	
</section>
