</br>
</br>

<div class="jumbotron">
      <div class="container">
        <h1>Mileem</h1>
        <p>MiLEEM es un proyecto que busca mejorar la experiencia y eficiencia del usuario para la  búsqueda de propiedades, en una primera etapa, dentro de los barrios de la Capital Federal de  la provincia de Buenos Aires, y luego extenderlo a todo el país. </p>
        <p><a class="btn btn-success btn-lg" href="/publications/new" role="button">Crear Publicación!</a></p>
      </div>
    </div>
</div>