</br>
</br>

<div class="jumbotron">
      <div class="container">
	      	<div class="row">
		      	<h1>
				    <div class="col-md-4">Mileem</div>
				    <div class="col-md-2 pull-right">
		  	      		<%= image_tag "logo-mileem.png" , :width=>"200px", :height=>"100px" %>
				    </div>
				</h1>    
			</div>		
			<div class="row">
		        <br>
		        <p>MiLEEM es un proyecto que busca mejorar la experiencia y eficiencia del usuario para la  búsqueda de propiedades, en una primera etapa, dentro de los barrios de la Capital Federal de  la provincia de Buenos Aires, y luego extenderlo a todo el país. </p>
			</div> 
      </div>
    </div>
</div>