<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.uba.fi.proyectos2.mileem" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".search.SearchPublicationsActivity"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:parentActivityName=".search.SearchPublicationsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.uba.fi.proyectos2.mileem.search.SearchPublicationsActivity" />
        </activity>
        <activity
            android:name=".detail.PublicationDetailActivity"
            android:label="@string/title_activity_publication_detail"
            android:parentActivityName=".search.SearchResultsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.uba.fi.proyectos2.mileem.search.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".detail.MediaDetailsActivity"
            android:label="@string/title_activity_media_details"
            android:parentActivityName=".detail.PublicationDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.uba.fi.proyectos2.mileem.detail.PublicationDetailActivity" />
        </activity>
    </application>

</manifest>
